<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4CDJCDKP7G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4CDJCDKP7G');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style>
        @font-face {
            font-family: 'BebasNeue';
            src: url("{{url_for('static',filename='fonts/BebasNeue-Regular.ttf')}}");
        }

        h1 {
            color: red;
            font-family: 'BebasNeue';
        }
    </style>
</head>

<body>
    <h1>ERROR! Please check your link parameters</h1>
    <p>Visit <a href='https://www.codmunity.gg/overlay'>https://www.codmunity.gg/overlay</a> if you need assistance.</p>
</body>

</html>